:root{
    --verdeescuroescuro: #1b4332;
    --verdeescuro: #386641;
    --verdemedio: #6a994e;
    --verdeclaro: #a7c957;
    --bege: #f2e8cf;
    --branco: #ffffff;

}



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Bungee", sans-serif;
}

.error-div{
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    background-color: rgb(99, 87, 87);
    gap: 20px;
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%);
    font-size: 14px;
    font-weight: lighter;
    box-shadow: 0px 3px 15px #00000090;
    font-family: "Bungee", sans-serif;
}

body{
    background-color: #1b4332;
    color: var(--);
    overflow-x: hidden;
    min-height: 100vh;
    height: auto;
    display: flex;
    align-items:center;
    justify-content: center;
      font-family: "Bungee", sans-serif;
}

.container{
    position: relative;
    background-color: #d7d3cf;
    width: 700px;
    height: 700px;
    border: 2px solid var(--verdeescuro);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    padding: 10px;
    box-shadow: 0px 5px 15px black;
    border-radius: 10px;
    font-family: "Bungee", sans-serif;
    


}

.logo{
    
    width: 200px;
    height: auto;
}

.round{
    position: absolute;
    top: -1%;
    transform: translate(-50%, 50%);
    left: 50%;

}

.wrap-input-label{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    width: 100%;
    position: relative;
}

.eye{
    position: absolute;
    right: 10px;
    bottom: 6px;
    opacity: 0.4;
    transition: all 200ms ease-in-out;
}

.eye:hover{
    cursor: pointer;
    opacity: 1;
}

.wrap-input-label input{
    padding: 5px 0px;
    background-color: transparent;
    border: none;
    width: 100%;
    border-bottom: 2px solid var(--laranja);
    font-size: 18px;
    color: var(--text);
}

.wrap-input-label label{
    color: var(--texto);
    font-size: 20px;
}

input::placeholder{
    color: #342929d4;
}

input:focus{
    border: none;
    outline: none;
    border-bottom: 2px solid var(--texto);
}

.btn-login{
    padding: 10px;
    width: 100%;
    background-color: var(--laranja);
    font-size: 20px;
    border: none;
    margin-top: 20px;
    color: var(--texto);
    border: 2px solid var(--texto);
    border-radius: 5px;
    transition: all 200ms linear;
    font-family: "Bungee", sans-serif;
}

.btn-login:hover{
    box-shadow: 0px 3px 10px var(--dark);
    cursor: pointer;
}